.profile {
  width: 380px;
  border-radius: 9px;
  overflow: hidden;
  font-size: 16px;
  color: var(--primary-shade);
  box-shadow: 0px 0px 10px -1px;
}

.description {
  text-align: center;
  padding: 50px 10px;
}

.avatar {
  display: inline-block;
  max-width: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 25px;
  font-size: 25px;
  font-weight: 500;
  color: var(--primary);
}

.tag {
  margin-top: 10px;
}

.location {
  margin-top: 10px;
}

.stats {
  display: flex;
  text-align: center;
  border-top: 1px solid var(--secondary);
}

.stats .statsItem:not(:last-child) {
  border-right: 1px solid var(--secondary);
}
.label {
  margin-top: 10px;
}

.statsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 33.333%;
  padding: 20px 5px;
  background-color: var(--secondary-shade);
}

.quantity {
  margin-top: 5px;
  font-weight: 700;
  color: var(--primary);
}
.icon {
  color: var(--primary-decor);
}
